<!DOCTYPE html>
<html>

<head>
	<link href="/content/images/favicon.png" rel="shortcut icon" type="image/x-icon" />

	<link href="~/content/off-the-shelf/bootstrap-3.3.7.min.css" rel="stylesheet" type="text/css" />
	@Styles.Render("~/bundles/css")

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="~/content/off-the-shelf/jquery-3.2.1.min.js"></script>
	<script src="~/content/off-the-shelf/angular-1.6.5.min.js"></script>
	<script src="~/content/off-the-shelf/bootstrap-3.3.7.min.js"></script>
	@Scripts.Render("~/bundles/js")

	<title>@ViewBag.Title</title>
	<script type='text/javascript'>
		var appInsights = window.appInsights || function (config) {
			function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } }
			var t = { config: config }, u = document, e = window, o = 'script', s = u.createElement(o), i, f; for (s.src = config.url || '//az416426.vo.msecnd.net/scripts/a/ai.0.js', u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ['Event', 'Exception', 'Metric', 'PageView', 'Trace', 'Ajax']; i.length;)r('track' + i.pop()); return r('setAuthenticatedUserContext'), r('clearAuthenticatedUserContext'), config.disableExceptionTracking || (i = 'onerror', r('_' + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o), s }), t
		}({
			instrumentationKey: '15f4f6e3-8166-4681-867d-939eff9a4903'
		});

		window.appInsights = appInsights;
		appInsights.trackPageView();
	</script>
</head>

<body ng-app="tvbsApp" ng-cloak ng-strict-di>
	<!--
		<div id="starField">
			<canvas></canvas>
		</div>
	-->

	<div class="overlay-container">
		@RenderBody()
	</div>
</body>

</html>